$fontMain: "Red Hat Display";
$pale-blue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$veryPaleBlue: hsl(225, 100%, 98%);
$DesaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: url("./images/pattern-background-desktop.svg");
  background-repeat: repeat-x;
  background-color: $pale-blue;
  font-family: $fontMain, sans-serif;
}

button {
  font-family: $fontMain;
}

.mainCard {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px hsl(228, 45%, 23%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.craig {
  color: red;
  background-color: rgb(141, 24, 24);
}
